body {
  margin: 0;
}
header {
  background-color: #000;
  height: 44px;
  color: white;
}
.nav-link {
  color: white;
  text-decoration: none;
}

main {
  background-color: pink;
  height: 800px;
}
footer {
  background-color: gray;
  height: 300px;
}
